li.email-list.ng-enter{
  animation: bounceIn 0.5s;
}
li.email-list.ng-leave{
  animation: bounceOut 0.5s;
}

tr.my-products.ng-enter{
  animation: bounceInLeft 0.5s;
}
tr.my-products.ng-leave{
  animation: bounceOutLeft 0.5s;
}

li.my-categories.ng-enter{
  animation: bounceInLeft 0.5s;
}
li.my-categories.ng-leave{
  animation: bounceOutLeft 0.5s;
}

.view.ng-enter{
  animation: fadeIn 0.2s;
}

button.relatedProductsButton.ng-enter{
  animation: fadeIn 0.2s;
}
button.relatedProductsButton.ng-leave{
  animation: fadeOut 0.2s;
}

li.myProduct.ng-enter{
  animation: fadeIn 0.3s;
}

li.myProduct.ng-leave{
  animation: fadeOut 0.3s;
}

div.myCard.ng-enter{
  animation: fadeInUp 0.5s;
}
div.myCard.ng-leave{
  animation: fadeOutDown 0.5s;
}

/*Search View*/

option{
  background-color: red;
}
#email-buttons{
  margin-top: 10px;
}

#list-of-users{
  padding: 25px 0 10px 0;
}
#main-background{
  height: 100%;
  min-height: 1000px;
}

/*PRODUCT VIEW*/

#relatedProductsList{
	margin-top: 25px;
}

#relatedProductsHeader{
	margin: 0px 0 10px 0;
}

.relatedProductsButton{
	margin-right: 10px;
	margin-bottom: 5px;
}

/*NAVIGATION*/

#nav-bar{
  background-color: #ffffff;
}

img.logo{
  position: relative;
  top: -5px;
  height: 30px;
  width: 30px;
  float: left;
}


/*Footer*/
footer {
  margin-top: 100px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}