/*Search View*/
body{
  background-color: #e6e6e6;
}

option{
  background-color: red;
}
#email-buttons{
  margin-top: 10px;
}

#list-of-users{
  padding: 25px 0 10px 0;
}
#main-background{
  background-color: #e6e6e6;
  height: 100%;
  min-height: 1000px;
}

/*PRODUCT VIEW*/

#relatedProductsList{
	margin-top: 25px;
}

#relatedProductsHeader{
	margin: 0px 0 10px 0;
}

.relatedProductsButton{
	margin-right: 10px;
	margin-bottom: 5px;
}

/*NAVIGATION*/

#nav-bar{
  background-color: #ffffff;
}

img.logo{
  position: relative;
  top: -5px;
  height: 30px;
  width: 30px;
  float: left;
}


/*Footer*/
footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}