/*Search View*/
#searchBar{
  margin-top: 50px;
}
#list-of-users{
  padding: 25px 0 10px 0;
}

/*PRODUCT VIEW*/

#nav-logo{
	width: 25px;
	height: 25px;
}

#relatedProductsList{
	margin-top: 25px;
}

#relatedProductsHeader{
	margin: 0px 0 10px 0;
}

.relatedProductsButton{
	margin-right: 10px;
	margin-bottom: 5px;
}

/*NAVIGATION*/
img.logo{
  height: 25px;
  width: 25pxs;
}


/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}