 <div class="container-fluid" id="main-background">
	<div class="row">
		<div class="col-md-10 col-sm-10 col-xs-9">
			<div class="alert alert-danger" ng-hide="hideAlert">
				{{errorMessage}}
			</div>
			<form>
				<div class="form-group">
					<label for="searchInput" class="sr-only">Search</label>
					<input type="text" ng-model="keyword" class="form-control" id="searchInput" placeholder="Search" capitalize-first />
				</div>
			</form>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2">
			<button type="submit" ng-click="search(keyword)" class="btn btn-primary">Search</button>
		</div>
	</div>
	<div class="row">

	</div>
	<div class="row">
		<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" id="userCard" ng-repeat="card in cards">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-lg-3 col-sx-3">
							<img alt="{{card.Company}}" src="http://gravatar.com/avatar/{{card.emailHash}}" class="img-rounded" />
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
							<p>{{card.Name}}</p>
							<p><small>{{card.Company}}</small></p>
							<p>{{card.Headline}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<strong>Products</strong>
							<ul>
								<li ng-repeat="(key, value) in card.products">
									{{key}}
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<strong>Email</strong>
							<small>{{card.Email}}</small>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						 	<strong>Phone Number</strong>
						 	<small>{{card.PhoneNumber}}</small>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<strong>Website</strong>
							<small>{{card.Website}}</small>
						</div>
					</div>
					<div class="row" id="email-buttons">
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-primary btn-block">Send a Message</button>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-danger btn-block">Add to email list</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>