  <div class="container" id="main-background">
	<div class="row">
		<div class="col-md-10 col-sm-10 col-xs-9">
			<form>
				<div class="form-group">
					<label for="searchInput" class="sr-only">Search</label>
					<input list="keywords" type="text" ng-model="keyword" class="form-control" id="searchInput" placeholder="Search" capitalize-first />
					<datalist id="keywords">
						<option ng-repeat='product in initProducts' value="{{product}}">
					</datalist>
				</div>
			</form>
			<div class="alert alert-danger" ng-hide="hideAlert">
				{{errorMessage}}
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2">
			<button type="submit" ng-click="search(keyword)" class="btn btn-primary btn-block">Search</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
			<div class="panel panel-default myCard" ng-repeat="card in cardsCol1">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-lg-3 col-sx-1">
							<img alt="{{card.Company}}" src="http://gravatar.com/avatar/{{card.emailHash}}" class="img-rounded" />
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
							<p>{{card.Name}}</p>
							<p><small>{{card.Company}}</small></p>
							<p>{{card.Headline}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="(key, value) in card.products">
									<a href="#/search/{{key}}">{{key}}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<strong>Website</strong>
							<small><a href="http://{{card.Website}}" target="_blank">{{card.Website}}</a></small>
						</div>
					</div>
					<div class="row" id="email-buttons">
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-primary btn-block" ng-click="openDialog(card.Email)">Send a Message</button>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-danger btn-block">Add to email list</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" >
			<div class="panel panel-default myCard" ng-repeat="card2 in cardsCol2">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-lg-3 col-sx-3">
							<img alt="{{card2.Company}}" src="http://gravatar.com/avatar/{{card2.emailHash}}" class="img-rounded" />
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
							<p>{{card2.Name}}</p>
							<p><small>{{card2.Company}}</small></p>
							<p>{{card2.Headline}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="(key, value) in card2.products">
									<a href="#/search/{{key}}">{{key}}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<strong>Website</strong>
							<small><a href="http://{{card2.Website}}" target="_blank">{{card2.Website}}</a></small>
						</div>
					</div>
					<div class="row" id="email-buttons">
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-primary btn-block" ng-click="openDialog(card2.Email)">Send a Message</button>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-danger btn-block">Add to email list</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
			<div class="panel panel-default myCard" ng-repeat="card3 in cardsCol3">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-lg-3 col-sx-3">
							<img alt="{{card3.Company}}" src="http://gravatar.com/avatar/{{card3.emailHash}}" class="img-rounded" />
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
							<p>{{card3.Name}}</p>
							<p><small>{{card3.Company}}</small></p>
							<p>{{card3.Headline}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="(key, value) in card3.products">
									<a href="#/search/{{key}}">{{key}}</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<strong>Website</strong>
							<small><a href="http://{{card3.Website}}" target="_blank">{{card3.Website}}</a></small>
						</div>
					</div>
					<div class="row" id="email-buttons">
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-primary btn-block" ng-click="openDialog(card3.Email)">Send a Message</button>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
							<button type="submit" class="btn btn-danger btn-block">Add to email list</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>