<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form>
				<div class="form-group">
					<label for="searchInput" class="sr-only">Search</label>
					<input type="text" ng-model="keyword" class="form-control" id="searchInput" placeholder="Search" />
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			<button type="submit" ng-click="search(keyword)" class="btn btn-primary btn-block">Search</button>
		</div>
		<div class="col-md-2">
			<button type="submit" ng-click="test()" class="btn btn-default btn-block">I'm feeling lucky</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		Hello world	
		</div>
	</div>
</div>