<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Company Description</h1>
			<p>In a few words, please describe your business that gives your potential customer an idea of what you are.</p>
			<label class="sr-only" for="description">Hi</label>
			<textarea type="text" ng-model="description" class="form-control" cols="20">{{description}}</textarea><br />
			<button type="submit" class="btn btn-primary" ng-click="submitDescription(description)">Submit</button>
		</div>
	</div>
</div>