<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>The Admin Formula</h1>
			<form>
				<input type="text" placeholder="Email" class="form-control" ng-model="email" /><br />
				<button class="btn btn-success" ng-click="makeAdmin()">Make Admin</button>
				<button class="btn btn-primary" ng-click="getUsers()">Get Users</button>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<h1>Adminstrators</h1>
			<table class="table">
				<tr ng-repeat="x in emailsArray track by $index">
					<td>{{x.email}}<span class="badge" ng-click="removeAdmin($index)">x</span></td> 
				</tr>
			</table>
		</div>
	</div>
</div>