<div class="container-fluid" id="selection-container">
	<div class="row" id="category-selector">
		<div class="col-md-8">
			<h1>Categories</h1>
			<div class="lead">Select the categories that your company falls under and click continue when you are done.</div>
			<div class="well well-sm">
				<button ng-repeat='category in categoriesArray' ng-click="addCategoryToUser(category)"class='btn btn-success category-button'>{{category}}</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">My Categories</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item category-items" ng-repeat="myCategory in myCategoriesArray">{{myCategory}}<span class="badge cursor-pointer" ng-click="removeCategoryFromUser(myCategory, $index)">x</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-link btn-block"><a href="#/products">Continue</a></button>
		</div>
	</div>
</div>