<div class='container'>
	<div class="row">
		<div class='col-md-12'>
			 <div class="panel panel-primary">
			 	<div class="panel-heading">
			 		Login {{error}}
			 	</div>
			 	<form>
			 	<div class="panel-body">
					<input type="text" ng-model="email" class="form-control" placeholder="Email" /><br />
					<input type="password" ng-model="password" class="form-control" placeholder="Password" />
				</div>
				<div class="panel-footer">
				<ul class="list-inline">
						<li>
							<input type="submit" class="btn btn-success" ng-click='login()'/> 
						</li>
						<li>
							<a href="signup">Sign Up</a>
						</li>
					</ul>
				</div>
				</form>
			</div>
			
		</div>
	</div>
</div>